:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.image-path {
  width: 100%;
}

.image-path img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(1, 0, 0, 0);
}
